<div class="car">
	<strong><%= car %></strong>
	<br />
	<%= car.title %>
	<br /><br />
	Performance <%= rating_for car, "performance" %>
	Price <%= rating_for car, "price" %>
	Beauty <%= rating_for car, "beauty" %>
</div>